.buttonLogin
{
    width: 120px;
	height: 40px;
	font-size: 20px;
	border-radius: 8px;
}

.buttonCancel
{
    width: 120px;
	height: 40px;
	font-size: 20px;
	border-radius: 8px;
}

[type = "text"]{
    font-size:24px;
    font-weight: bold;
    border: 1px solid #4CAF50;
    border-radius: 8px;
    width: 300px;
	height: 35;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: center;
    padding: 10px 2px;
}

[type = "password"]{
    font-size:24px;
    font-weight: bold;
    border: 1px solid #4CAF50;
    border-radius: 8px;
    width: 300px;
	height: 35;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: center;
    padding: 10px 2px;
}

[type = "submit"]{
    font-size: 24px;
    font-weight: bold;
}

body
{
    background-color: powderblue;
}

header {
    background-color: #666;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: greenyellow;
}


.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.navMenu a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
    background-color: red;
}

.navMenu a:hover, .dropdown:hover .Mandropbtn, .dropbtn:focus {
    background-color: red;
}

.navMenu a:hover, .dropdown:hover .Bodropbtn, .dropbtn:focus {
    background-color: red;
}

.navMenu a:hover, .dropdown:hover .Suadropbtn, .dropbtn:focus {
    background-color: red;
}

.navMenu {
    overflow: hidden;
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
}
  
.navMenu a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
.dropdown {
    float: left;
    overflow: hidden;
}
  
.dropdown .Mandropbtn {
    cursor: pointer;
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown .Bodropbtn {
    cursor: pointer;
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown .Suadropbtn {
    cursor: pointer;
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
    background-color: red;
  }
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
.dropdown-content a:hover {
    background-color: #ddd;
}
  
.show {
    display: block;
}

[type = "submit"]
{
    width: 120px;
	height: 40px;
	font-size: 15px;
	border-radius: 8px;
}

.registerbtn:hover
{
    opacity: 1;
}

.container {
    padding: 16px;
    background-color: white;
}

.buttonLogin{
    background-color: #4CAF50;
}
.buttonCancel{
    background-color: red;
}

.img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-bottom: auto;
}

.avatar{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}

[type = "lpassword"]{
    font-size:24px;
    font-weight: bold;
    border: 1px solid #4CAF50;
    border-radius: 8px;
    width: 300px;
    height: 35px;
    margin-right: auto;
    margin-left: fill;
    padding: 10px 2px;

}

[type = "lusername"]{
    font-size:24px;
    font-weight: bold;
    border: 1px solid #4CAF50;
    border-radius: 8px;
    width: 300px;
    height: 35px;
    margin-right: auto;
    margin-left: auto;
    padding: 10px 2px;
}

footer{
    background-color: #666;
    padding: 10px;
    text-align: center;
    font-size: 10px;
    color: greenyellow;
}

.rows:after{
    content: "";
    display: table;
    clear: both;
}

.col1{
    float: left;
    width: 30%;
    padding: 10px;
}

.col2{
    float: left;
    width: 30%;
    padding: 10px;
}

.col3{
    float: left;
    width: 30%;
    padding: 10px;
}

[type = "man_type"]
{
    font-size: 25px;
    font-weight: bold;
}

[type = "price"]
{
    font-size: 25px;
    font-weight: bold;
    color: red;
}


